@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Sintony:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.container{
    width: 70%;
    margin: 20px auto;
}
body{
    background-image: url(Background.png);
    background-size: cover;
}
button{
    background-color: #FFF;
    padding: 20px 55px;
    border-radius: 20px;
    border: none;

}
ul{
    gap: 30px;
    font-family: 'Sintony', sans-serif;

}
li{
    color: #FFF;
font-family: Sintony;
font-size: 16px;
list-style: none;
}
.nav-left{
    width: 20%;
}
.nav-right{
    width: 70%;
}
header{
    padding-top: 100px ;
    font-family: 'Sintony', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 1000px;

}
header .p1{
    width: 58%;
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Sintony', sans-serif;

}
header .p2{
    color: #FFF;
font-size: 18px;
font-family: 'Sintony', sans-serif;
width: 40%;
margin: 40px 0;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
}
/* 1 */

  .second-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .second-card{
    background-color: #FFFFFF;
    padding: 90px 40px;
    display: flex;
    flex-direction: column; 
    border-radius: 20px;
     justify-content: space-evenly!important;
    align-items: center;
    text-align: center;
    border: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-family: 'Sintony', sans-serif;
    
  
  }
  .s-card-p2{
    display: flex;
    align-content: space-between;
  }
  /* 2 */
  .second{
    margin: 10px auto;
  }
  .right-2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  img{
    width: 100%     ;
  }
  .left-2 img{
width: 100%;
  }
  .right-2{
width: 30%;
height: 250px;
  }
  .right-2 img{
    width: 100%;
  }
  .second-p1{
    color: #000;
    font-family: 'Sintony', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 128.571% */
  }
  .left-21{
    width: 25%;
  }
  /* 3 */
  .third{
    margin:200px auto;
  }
  .third-p1{
     color: #000;
    font-family: 'Sintony', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 128.571% */
    margin: 25px 0;
  }
  /* 5 */
  .top-5{
   margin: 80px auto;

  }
  .top-5-p1{
    color: #000;
    font-family: 'Sintony', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 128.571% */
  }
  .top-5-p2{
    color: #000;
    font-family: 'Sintony', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 1000;
line-height: normal;
letter-spacing: 0.542px;
text-transform: uppercase;
  }
  .burger{
    display: none;
  }

  .card-5{
width: 48%;
display: flex;
align-items: center;
border-radius: 19px;
border: 1px solid #E2E2E2;

  }
  .card-5-left{
border-radius: 19px 0px 0px 19px;
background-color: #DCDCDC;  
width: 210px;
height: 100%;
flex-shrink: 0;
}
.card-5-right{
    padding: 20px;
}
.card-5-right .p1{
    color: #000;
    font-family: 'Sintony', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 27px; /* 150% */
margin-bottom: 20px;
}
.card-5-right .p2{
    color: #222A41;
    font-family: 'Sintony', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */  
margin-bottom: 20px; 
}
/* 6 */
.sixth{
    margin-top: 110px;
}
.left-6{
    width: 30%;
    font-family: 'Sintony', sans-serif;

}
.left-6 .p1{
    font-family: 'Sintony', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 128
.571% */
    margin-bottom: 30px;

}
/* 7 */
.seven{
 margin-top: 90px;
}
.seven-left{
    width: 51%;
height:350px;
flex-shrink: 0;
background: #D8D8D8;
}
.seven-right{
    padding: 40px;
}
.seven .p1{
    color: #000;
    font-family: 'Sintony', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 128.571% */
margin-bottom: 30px;
}
.seven-right .p2{
    color: #222A41;
    font-family: 'Sintony', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
margin-bottom: 20px;
}
.seven-right .p3{
    color: #000;
    font-family: 'Sintony', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 0.542px;
text-transform: uppercase;
margin-top: 40px;
}
/* 8 */
.eight{
    display: flex;
width: 1114px;
margin-top: 150px;
height: 328px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background-image: url(Background1.png);
}
.eighth{
  text-align: center;
}
.eighth .p1{
  color: #FFF;
text-align: center;
font-family: 'Sintony', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 128.571% */
letter-spacing: -0.1px;
margin-bottom: 30px;
}
.eighth .p2{
  color: #FFF;
text-align: center;
font-family: 'Sintony', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
margin-bottom:10px ;
}
.f-1{
 width:25% ;
 line-height: 30px;
}
.f-1 img{
   width: 200%;
}
footer li{
  color:grey;
  font-size: 12px;
  line-height: 35px;
}
footer{
  flex-wrap: wrap;
}